footer {
    height: 35px;
    width: 90%;
    min-width: 90%;
    margin-top: 15px;
    background-color: var(--brand-color-first);
    color: var(--brand-color-third);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copiright {
    flex-grow: 1;
    text-align: center;
}

.footer-image-link {
    margin-top: 5px;
    margin-right: 5px;
    opacity: 0.5;
    height: 30px;
    width: 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7484%) hue-rotate(203deg) brightness(103%) contrast(101%);
}

::deep .footer-image-link:hover {
    filter: brightness(0) saturate(100%) invert(40%) sepia(56%) saturate(5293%) hue-rotate(342deg) brightness(94%) contrast(93%);
}
