<footer>
    <div class="footer-copiright">
        @DateTime.UtcNow.Year © @Common.Composition.Globals.Brand.Title
    </div>
    
    <div>
        @if (User?.Identity?.IsAuthenticated == false)
        {
            <a href="\Account\Login">
                <img loading="lazy" class="footer-image-link"
                     height="30" width="30"
                     src="\images\icons\key-icon.svg"
                     alt="Login">
            </a>
        }
    </div>
</footer>