@page
@using Common.Composition
@using TLD15.Pages.Shared.Components.ArticleCard
@model IndexModel;

@{
    ViewData[Globals.Page.Title] = $"{Globals.Brand.Slogan} | {Globals.Brand.Title}";
    ViewData[Globals.OpenGraph.Url] =
    $"https://{ViewContext.HttpContext.Request.Host}" +
            $"{ViewContext.HttpContext.Request.Path}";
}

@if (Model.Articles.Count > 0)
{
    <div class="articles-container">
        <div class="articles-content">
            @foreach (var item in Model.Articles)
            {
                @await Component.InvokeAsync(nameof(ArticleCard), new { article = item })
            }
        </div>
    </div> 
}