@page
@using Common.Composition

@model IndexModel;

@{
    ViewData[Globals.Page.Title] = $"{Globals.Brand.Slogan} | {Globals.Brand.Title}";
    ViewData[Globals.OpenGraph.Url] =
    $"https://{ViewContext.HttpContext.Request.Host}" +
            $"{ViewContext.HttpContext.Request.Path}";
}

@* @if (Model.Publications.Count > 0)
{
     <div id="@Features.Publication.Publication.Collection" class="projects-container">
        <h1>@Globals.Brand.Slogan</h1>
        <div class="projects-content">
            @foreach (var item in Model.Publications)
            {
                @await Component.InvokeAsync(nameof(CardPublication), new { publication = item })
            }
        </div>
    </div> 
} *@