@page
@Html.AntiForgeryToken()
@using Common.Composition
@using System.Globalization
@model TLD15.Pages.Contacts.EditContactsModel
@{
    ViewData[Globals.Page.Title] = $"EditFeature.FeatureName | {Globals.Brand.Title}";
}

<script src="~/js/htmx.min.js" asp-append-version="true"></script>

<div class="component-container">
    <table class="wide-table" aria-describedby="Contacts list">
        <thead>
            <tr>
                <th style="width: 40%;">Name</th>
                <th style="width: 40%;">Email</th>
                <th style="width: 20%;"></th>
            </tr>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            @foreach (var userInfo in Model.Data)
            {
                <partial name="_TableRow" model="userInfo" />
            }
        </tbody>
    </table>


    <dialog id="myDialog">
        <article id="dialogContent">
            asdasd
        </article>
    </dialog>

    <button data-target="myDialog"
            hx-get="@Url.Handler("Modal")"
            hx-target="#dialogContent"
            hx-trigger="click"
            onClick="showDialog()">
        Show Dialog
    </button>
</div>

<script>
    function showDialog() {
        const dialog = document.getElementById('myDialog');
        dialog.showModal(); // Opens the dialog
    }

    function closeDialog() {
        const dialog = document.getElementById('myDialog');
        dialog.close(); // Closes the dialog
    }
</script>