@page
@using System.Globalization
@using TLD15.Composition
@model TLD15.Pages.Contacts.EditModel

@{
    ViewData[Globals.Page.Title] = $"{EditModel.Meta.Title} | {Globals.Brand.Title}";
}

<div class="component-container">
    <div class="tab-panel tab-panel-active" id="content-tab1">
        <form class="article-edit" id="#main-form" method="post">
            <input type="hidden" asp-for="@Model.Data.Version" />

            <input id="id" type="text" asp-for="@Model.Data.Id" placeholder="Id">
            <textarea id="content" type="text" asp-for="@Model.Data.Data" placeholder="Content" cols="40" rows="5"></textarea>
        </form>
    </div>
    <button onclick="submitForm()">@Globals.Controls.Save</button>
</div>

<script>
    function submitForm() {
        document.getElementById("#main-form").submit();
    }
</script>