@model TLD15.Pages.Account.AFeatureAccount.RequestEdit

<div>
    <form>
        <input type="text" asp-for="@Model.Login" />
        <input type="password" asp-for="@Model.Password" />

        <button onclick="closeDialog(); return false;" class="secondary" style="margin-bottom: 6px;">
            Cancel
        </button>
        <button hx-post="@Url.Handler("Item")" antiforgery="true">
            Save
        </button>
    </form>
</div>