@page
@using Common.Composition
@using TLD15.Utils
@model TLD15.Pages.Account.LoginFeature
@{
    ViewData[Globals.Page.Title] = $"{Globals.Brand.Title} | {Model.Title}";

    ViewData[Globals.OpenGraph.Url] = Model.ApplicationHost.TrimLast('/') + ViewContext.HttpContext.Request.Path;
    ViewData[Globals.OpenGraph.Image] = $"{Model.ApplicationHost}logo.png";
    ViewData[Globals.OpenGraph.Locale] = Globals.Settings.Locale;
}


<form id="loginForm" method="post" class="component-container">
    <div class="login-container">
        <input asp-for="Model.Login" placeholder="Login" autocomplete="off" />
        <input asp-for="Model.Password" placeholder="Password" autocomplete="off" />

        <span asp-validation-for="Model.Login" class="text-danger"></span>
        <button aria-label="@Globals.Controls.Login" type="submit">Log in</button>
    </div>
</form>