@model NavigationGlobal

<div class="navigation-global-component-container">
@*     <a class="navigation-global-link 
        @(ViewContext.RouteData.Values["page"]!.ToString() == item.Key ? "active" : "")"
       asp-page="@item.Key"
       rel="canonical">@item.Value</a> *@
</div>