.navigation-global-component-container {
    margin: -1px 5% 0;
    text-align: center;
    color: var(--brand-color-third);
}

::deep .navigation-global-link {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid var(--brand-color-first);
    font-weight: 80;
    color: var(--brand-color-third);
    background: transparent;
    text-decoration: none;
    outline: none !important;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}

::deep .active {
    background: var(--brand-color-first);
}

::deep .navigation-global-link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background: var(--brand-color-third);
    transition: all 0.3s ease;
}

::deep .navigation-global-link:hover {
    color: var(--brand-color-first);
}

    ::deep .navigation-global-link:hover:after {
        height: 100%;
        top: 0;
    }
