body {
    background-color: var(--color-background);
    color: var(--brand-color-third);
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

html {
    font-size: 23px;
    height: 100%;
    margin: 0;
}

.content-contaiter-centered {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--brand-color-first);
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
/* ----------------- */
h2 {
    font-family: "Park Lane NF";
    font-size: 30px;
    padding: 0;
    background: var(--brand-color-first);
    margin-top: 0;
    margin-bottom: 5px;
}
.subtitle {
    font-size: 20px;
    padding: 0;
    background: var(--brand-color-first);
    margin-top: 0;
    margin-bottom: 5px;
}
/* --------------- */
input {
    font-size: 16px;
    padding: 10px 10px;
    font-family: 'Roboto', sans-serif;
    margin: 5px 0;
    border: 1px solid rgb(from var(--brand-color-third) r g b / 50%);
    border-radius: 0;
    background-color: var(--color-background);
    color: var(--brand-color-third);
    outline: none;
    transition: all 0.3s ease;
}

input:focus {
    border-color: var(--brand-color-first);
}

input::placeholder {
    color: rgb(from var(--brand-color-third) r g b / 50%);
    opacity: 1;
}

input:focus::placeholder {
    color: transparent;
}

input:hover {
    border-color: var(--brand-color-third);
}

input:active {
    border-color: var(--brand-color-third);
}
/* --------------- */

select {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 10px;
    margin: 5px 0;
    border: 1px solid rgb(from var(--brand-color-third) r g b / 50%);
    border-radius: 0;
    background-color: var(--color-background);
    color: var(--brand-color-third);
    outline: none;
}

    select:focus {
        border-color: var(--brand-color-first);
    }

    select::placeholder {
        color: rgb(from var(--brand-color-third) r g b / 50%);
        opacity: 1;
    }

    select:focus::placeholder {
        color: transparent;
    }

    select:hover {
        border-color: var(--brand-color-third);
    }

    select:active {
        border-color: var(--brand-color-third);
    }

/* --------------- */
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 10px;
    margin: 5px 0;
    border: 1px solid rgb(from var(--brand-color-third) r g b / 50%);
    border-radius: 0;
    background-color: var(--color-background);
    color: var(--brand-color-third);
    outline: none;
}

textarea:focus {
    border-color: var(--brand-color-first);
}

textarea::placeholder {
    color: rgb(from var(--brand-color-third) r g b / 50%);
    opacity: 1;
}

textarea:focus::placeholder {
    color: transparent;
}

textarea:hover {
    border-color: var(--brand-color-third);
}

textarea:active {
    border-color: var(--brand-color-third);
}





/* ------------------------------ */
button {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    margin: 8px 0;
    border-radius: 0px;
    border: 1px solid var(--brand-color-third);
    background-color: var(--brand-color-first);
    color: var(--brand-color-third);
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    box-shadow: none;
    transition: all 0.3s ease;
}

form {
    width: 100%;
}

    /* Button hover state */
    button:hover {
        background-color: var(--brand-color-third);
        color: var(--brand-color-first);
    }

    /* Button active state (when pressed) */
    button:active {
        background-color: var(--brand-color-third); /* Primary color on active */
        transform: scale(0.88); /* Subtle shrink effect */
    }

    /* Button focus state */
    button:focus {
        outline: none;
        transform: scale(0.9); /* Subtle shrink effect */
    }

    /* TODO: Disabled state */
    button:disabled {
        background-color: #e0e0e0; /* Light gray color when disabled */
        color: #9e9e9e; /* Gray text */
        cursor: not-allowed;
        box-shadow: none;
    }
/* ------------------------------ */

/* unvisited link */
a:link {
    color: var(--brand-color-third);
}

/* visited link */
a:visited {
    color: var(--brand-color-third);
}

/* mouse over link */
a:hover {
    color: var(--brand-color-second);
}

/* selected link */
a:active {
    color: var(--brand-color-second);
}