::deep .image-container img {
    width: auto;
    height: 150px;
}

::deep .image-container-content {
    display: flex;
    align-items: stretch;
}
    ::deep .image-container-content i {
        vertical-align: middle;
        line-height: 150px;
    }

    .tabs {
        display: flex;
    }

/* Individual tab buttons */
.tab-button {
    font: inherit;
    font-size: 16px;
    flex: 1;
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
}

.tab-active {
    font: inherit;
    font-size: 16px;
    border-bottom: 2px solid var(--brand-color-third);
    color: var(--brand-color-third);
}

    .tab-active:hover {
        color: var(--brand-color-first);
    }

.tab-button:hover {
    background-color: var(--brand-color-third);
}
::deep .article-edit {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}
/* Hide inactive tab panels */
.tab-panel {
    display: none;
}

/* Show active tab panel */
.tab-panel-active {
    display: flex;
    flex-direction: column;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--brand-color-first);
    color: var(--brand-color-third);
}

    article h2 {
        font-family: "Park Lane NF";
        font-size: 45px;
        margin-top: 0;
        margin-bottom: 0;
    }

    article .subtitle {
        font-size: 30px;
        font-style: italic;
        margin-top: 0;
        margin-bottom: 0;
    }
