.manage-container {
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    background-color: var(--brand-color-first);
    color: var(--brand-color-third);
    padding-bottom: 20px;
}

/* ---------------------------------------------- */

.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.article {
    background-color: var(--color-background);
    color: var(--brand-color-third);
    border: 1px solid var(--brand-color-third);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 350px;
    height: 470px;
    transition: all 0.3s ease;
}

.article-image-container {
    position: relative;
    width: 50%;
}

::deep .article-image {
    object-fit: cover;
    width: 350px;
    height: 150px;
    display: block;
    filter: grayscale(100%) contrast(130%);
    transition: all 0.8s ease 0s;
}

    ::deep .article-image:hover {
        filter: grayscale(0) contrast(100%);
    }

::deep .article-image-overlay-division {
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: var(--color-background);
    color: var(--brand-color-third);
    border: 1px solid var(--brand-color-third);
    width: 70px;
    padding: 5px;
    height: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

::deep .article-image-overlay-date {
    position: absolute;
    top: -1px;
    right: -176px;
    background-color: var(--color-background);
    color: var(--brand-color-third);
    border: 1px solid var(--brand-color-third);
    width: 115px;
    padding: 5px;
    height: 20px;
    font-size: 17px;
    text-align: center;
}

::deep .article-title {
    text-align: center;
    text-decoration: underline;
    color: var(--brand-color-third);
    text-decoration-color: var(--brand-color-third);
    font-size: 25px;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}

    ::deep .article-title:hover {
        color: var(--brand-color-second);
        text-decoration-color: var(--brand-color-second);
    }

::deep .article-description {
    height: 110px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}


/* ---------------------------------------------- */

.article .button-container {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Distributes space between the buttons */
}

.button-container form {
    display: flex;
}

    .button-container form button {
        flex-grow: 1;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

@media (max-width: 600px) {
    .article .button-container {
        flex-direction: column; /* Switches to column layout on small screens */
    }
}