@using TLD15.Pages.Shared.Components.NavigationAdmin
@model NavigationAdmin

@if (User?.Identity?.IsAuthenticated == true)
{
    @foreach (var item in Model.Urls ?? [])
    {
        <a class="navigation-link" href="@item.Value">
            @item.Key
        </a>
    }
}