.navigation-admin-container {
    font-weight: 80;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--brand-color-first);
    gap: 10px;
}

.navigation-admin-link {
    padding: 5px 10px 5px 10px;
    font-weight: 80;
    background: transparent;
    text-decoration: none;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 1px solid var(--brand-color-second);
    z-index: 1;
    color: var(--brand-color-second);
}

    .navigation-admin-link:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        color: var(--brand-color-first);
        background: var(--brand-color-second);
        transition: all 0.3s ease;
    }

    .navigation-admin-link:hover {
        color: var(--brand-color-first);
    }

        .navigation-admin-link:hover:after {
            top: 0;
            height: 100%;
        }
