@using TLD15.Pages.Shared.Components.NavigationAdmin
@model NavigationAdmin

@if (User?.Identity?.IsAuthenticated == true)
{
    <div class="navigation-link">
        @foreach (var item in Model.Urls ?? [])
        {
            <a href="@item.Value">
                @item.Key
            </a>
        }
    </div>
}