::deep .brand-header-name {
    font-family: "Park Lane NF";
    font-size: 70px;
    font-weight: 800;
    text-decoration: none !important;
    color: inherit;
}

    ::deep .brand-header-name:hover {
        color: var(--brand-color-second);
    }

.brand-header-slogan {
    font-family: "Park Lane NF";
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 0;
}
