.brand-header-container {
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background-color: var(--brand-color-first);
    color: var(--brand-color-third);
    padding-bottom: 10px;
}

::deep a h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 70px;
}

::deep .brand-header-link {
    text-decoration: none;
    color: inherit;
}

    ::deep .brand-header-link:hover {
        color: var(--brand-color-second);
    }

.brand-header-slogan {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 0;
}
