header {
    font-family: "Park Lane NF";


    padding-bottom: 5px;

    align-self:center;
    min-width: 90%;
    
    background-color: var(--brand-color-first);
    color: var(--brand-color-third);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

::deep .brand-header-name {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 70px;
    font-weight: 800;
    text-decoration: none;
}
    ::deep .brand-header-name:hover {
        color: var(--brand-color-second);        
    }

.brand-header-slogan {
    font-family: "Park Lane NF";
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 0;
}
