<header class="component-container">
    <a class="brand-header-name" asp-page="/Index">
        @Common.Composition.Globals.Brand.Title
    </a>

    <div class="brand-header-slogan">
        @Common.Composition.Globals.Brand.Slogan
    </div>
</header>