<div class="brand-header-container">
    <a class="brand-header-link" asp-page="/Index">
        <h1>@Common.Composition.Globals.Brand.Title</h1>
    </a>

    <div class="brand-header-slogan">
        @Common.Composition.Globals.Brand.Slogan
    </div>
</div>