@model NavigationLocal

@if (Model.Anchors?.Any() == true)
{
    <div class="navigation-local-component-container">
        @foreach (var item in Model.Anchors ?? [])
        {
            <a class="navigation-local-link" href="#@item.Key">
                @item.Value
            </a>
        }
    </div>
}