@using TLD15.Pages.Shared.Components.NavigationLocal
@model NavigationLocal

@if (Model.Metas.Count > 0)
{
    <div class="navigation-local-component-container">
        @foreach (var item in Model.Metas)
        {
            <a class="navigation-local-link" href="#@item.Id">
                @item.Title
            </a>
        }
    </div>
}