.navigation-local-component-container {
    min-width: 90%;
    margin-top: 15px;
    padding-top: 10px;
    background-color: var(--brand-color-first);
    color: var(--brand-color-third);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

::deep .navigation-local-link {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    font-weight: 80;
    background: transparent;
    text-decoration: none;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 1px solid var(--brand-color-third);
    z-index: 1;
}

    ::deep .navigation-local-link:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: var(--brand-color-third);
        transition: all 0.3s ease;
    }

    ::deep .navigation-local-link:hover {
        color: var(--brand-color-first);
    }

        ::deep .navigation-local-link:hover:after {
            top: 0;
            height: 100%;
        }
