@using Common.Composition

<button id="btnScrollToTop" onclick="scrollToTop()"
        aria-label="@Globals.Controls.ScrollToTheTop">
    &#11205;
</button>

<script>
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 88 || document.documentElement.scrollTop > 88) {
            document.getElementById("btnScrollToTop").classList.add("visible");
        } else {
            document.getElementById("btnScrollToTop").classList.remove("visible");
        }
    }

    function scrollToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>