#btnScrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: var(--brand-color-second);
    color: var(--brand-color-third);
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    padding-top: 10px;
    transition: all 0.3s ease;
}

    #btnScrollToTop:hover {
        padding-top: 0px;
    }

    #btnScrollToTop.show {
        display: block;
    }
